gitconfig.local
linux/polybar/config
.DS_Store
*.scm
*.errors
*.hi
*.o
xmonad*linux
.netrwhist

# Emacs

emacs/elpa
emacs/auto-save-list
emacs/games
emacs/backup
emacs/eshell
emacs/recentf
emacs/.lsp*
*#
*~
*.elc
*.eld
*projectile.cache
